html, body {
    min-height: 100vh;
    height: 100%;
    background-color: #e0dee5;
}

main {
    height: 100%;
    display: grid;
    padding: 20px;
}

#main-sidebar {
    width: 250px;
    background-color: var(--pico-background-color);
    box-shadow: 0 5px 2px 0px var(--pico-secondary-background);
    padding: var(--pico-spacing);
}

#main-header {
    z-index: 2;
    background-color: var(--pico-background-color);
    box-shadow: 5px 0 2px 0px var(--pico-secondary-background);
    padding: var(--pico-spacing);
}

#main-header > * {
    margin-bottom: 0;
}

#main-header > h4 {
    height: 65px;
    line-height: 65px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-spacer {
    flex-grow: 1000;
}

.space-between {
    justify-content: space-between;
}

.grow-children * {
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}

.gap-sm {
    gap: 8px;
}

.gap-md {
    gap: 12px;
}

.gap-lg {
    gap: 16px;
}

.widget {
    background-color: white;

	inset: -1px;
	border-radius: 8px;

    padding: 16px;
    margin: 8px;
}

.pad-sm-r {
    padding-right: 4px;
}

.pad-md-r {
    padding-right: 8px;
}

.pad-lg-r {
    padding-right: 12px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

.scroll-container {
    overflow-y: auto;
}

.main-content-with-sidebar {
    display: grid;
    grid-template-columns:
         350px auto
}

.button-md {
    width: 200px !important;
}

.float-right {
    float: right;
}

#invoice-preview {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    overflow: auto;

    height: 11in;
    width: 8.5in;
}

#invoice-preview * {
    all: unset;
}
