html, body {
    min-height: 100vh;
    height: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows:
        [header] 80px [content] auto
}

#main-content {
    overflow-y: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-gap-sm {
    flex-gap: 4px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    align-items: middle;
}

.flex-spacer {
    flex-grow: 1000;
}

.space-between {
    justify-content: space-between;
}

.pad-sm-r {
    padding-right: 4px;
}

.pad-md-r {
    padding-right: 8px;
}

.pad-lg-r {
    padding-right: 12px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

.scroll-container {
    overflow-y: auto;
}

.main-content-with-sidebar {
    display: grid;
    grid-template-columns:
         1fr 3fr
}
