{{ template "base" . }}

{{ define "header" }}
<div id="main-header" hx-swap-oob="outerHTML" class="flex-row full-width space-between flex-center">
    <h4>Billing - (Batch {{ .Batch.Id }}) - {{ .Batch.State.String }}</h4>

    <div class="flex-row gap-sm">
        <button type="button" class="secondary" hx-get="/billing" hx-target="#main-content" hx-push-url="true">Back</button>
        {{ if ne .Batch.State.String "Sent" }}
        <button
            id="send-invoice-button"
            type="button"
            hx-confirm="Send notifications?"
            hx-post="/billing/send/{{ .Batch.Id }}"
            aria-busy="{{ if eq .Batch.State.String "Sending" }}true{{ else }}false{{ end }}">
            Send
        </button>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "content" }}
<div id="invoice-batch-details" class="flex-column gap-sm widget">
    {{ template "invBatchDetailsView" .Batch }}
</div>
<div class="flex-column widget">
    <hgroup>
        <h5>Invoices</h5>
        <p id="invoice-batch-total">Total - ${{ printf "%.2f" .GetBatchTotal }}</p>
    </hgroup>
    <div class="main-content-with-sidebar grow">
        {{ template "customerPicker" . }}

        <div id="invoice-display" class="pad-lg-l">
            <strong>Select a customer on the left to view & modify their invoice</strong>
        </div>
    </div>
</div>

{{ end }}
