{{ template "base" . }}

{{ define "header" }}
<div id="main-header" hx-swap-oob="true" class="flex-row full-width space-between flex-center">
    <h4>Billing</h4>
    <button hx-get="/billing/new" hx-target="#main-content" type="button">
        New Invoice Batch
    </button>
</div>
{{ end }}

{{ define "content" }}
<div class="full-height flex-column">

    <div class="scroll-container widget">
        <table>
            <thead>
                <tr>
                    <th scope="col">Batch #</th>
                    <th scope="col">State</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Finished Sending</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr id="billing-table-{{ .Id }}">
                    <td>{{ .Id }}</td>
                    <td>{{ .State }}</td>
                    <td>{{ if gt .DueDate 0 }} {{ convertLocalTimestamp .DueDate }} {{ end }}</td>
                    <td>{{ .NotificationSubject }}</td>

                    <td>{{ if gt .FinishedSendingAt 0 }} {{ convertLocalTimestamp .FinishedSendingAt }} {{ end }}</td>
                    <td>{{ if gt .CreatedAt 0 }} {{ convertLocalTimestamp .CreatedAt }} {{ end }}</td>
                    <td>
                        <a href="/billing/{{ .Id }}" hx-target="#main-content">
                        {{ if eq .State.String "Draft" }}
                            Edit
                        {{ else }}
                            View
                        {{ end }}
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
