{{ define "content" }}
<tr>
    <td>
        <form
            id="update-form-{{ .Id }}"
            action={{ if .Id }} "/customers/{{ .Id }}" {{ else }} "/customers" {{ end }} method={{ if .Id }} "put" {{ else }} "post" {{ end }}>
            <input type="hidden" name="id" value="{{ .Id }}" />
        </form>
    </td>
    <td><input form="update-form-{{ .Id }}" type="text" name="firstName" placeholder="First Name..." value="{{ .FirstName }}" required></td>
    <td><input form="update-form-{{ .Id }}" type="text" name="lastName" placeholder="Last Name..." value="{{ .LastName }}" required></td>
    <td><input form="update-form-{{ .Id }}" type="email" name="email" placeholder="Email..." value="{{ .Email }}" required></td>
    <td>
        <input form="update-form-{{ .Id }}" type="submit" value={{ if .Id }} "Update" {{ else }} "Create" {{ end }}>
    </td>
    <td>
        <input class="secondary" type="button" value="Cancel" hx-get="/customers" hx-target="#main-content">
    </td>
</tr>
{{ end }}
