{{ template "base" . }}

{{ define "header" }}
<div id="main-header" hx-swap-oob="outerHTML" class="flex-row full-width space-between flex-center">
    <h4>Billing - (Batch {{ .Batch.Id }})</h4>
    <button type="button" hx-get="/billing/send/{{ .Batch.Id }}" hx-target="#main-content" hx-push-url="true">
        Ready
    </button>
</div>
{{ end }}

{{ define "content" }}
<div id="invoice-batch-details" class="flex-column gap-sm widget">
    <h5>Settings</h5>
    <form hx-put="/billing/{{ .Batch.Id }}">
        <div class="flex-row gap-sm grow-children">
            <label>
                Email Subject
                <input name="subject" placeholder="Subject..." value="{{ .Batch.NotificationSubject }}"></input>
            </label>
            <label>
                Due Date
                <input type="date" name="dueDate" placeholder="Due Date..." value="{{ .GetDueDateStr }}"></input>
            </label>
        </div>

        <label>
            Email Body
            <textarea name="body" placeholder="Email Body...">{{ .Batch.NotificationDescription }}</textarea>
        </label>
        <button type="submit">Save</button>
    </form>
</div>
<div class="flex-column widget">
    <h5>Invoices</h5>
    <div class="main-content-with-sidebar grow">
        {{ template "customerPicker" . }}

        <div id="invoice-display">
            <strong>Select a customer on the left to view & modify their invoice</strong>
        </div>
    </div>
</div>

{{ end }}
