{{ template "base" . }}

{{ define "content" }}
<div class="flex-column full-height">
    <div id="invoice-batch-details" class="flex-column gap-sm widget">
        <div class="flex-row gap-sm grow-children">
            <label>
                Email Subject
                <input name="subject" placeholder="Subject..."></input>
            </label>
            <label>
                Due Date
                <input type="date" name="dueDate" placeholder="Due Date..."></input>
            </label>
            <button>
                Send
            </button>
        </div>

        <label>
            Email Body
            <textarea name="body" placeholder="Email Body..."></textarea>
        </label>

    </div>
    <div class="main-content-with-sidebar widget grow">
        {{ template "customerPicker" . }}

        <div id="invoice-display">
            <strong>Select a customer on the left to view & modify their invoice</strong>
        </div>
    </div>
</div>

{{ end }}
