{{ template "base" . }}

{{ define "content" }}
<h1>
    Customers!
</h1>

<table>
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .FirstName }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .Email }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<form action="/customers" method="post">
    <input type="text" name="firstName" placeholder="First Name...">
    <input type="text" name="lastName" placeholder="Last Name...">
    <input type="text" name="email" placeholder="Email...">

    <button name="route" data-route="test">Create</button>
</form>
{{ end }}
