{{ define "customerList" }}
    <div class="flex-column">
        {{ range .IncludedCustomers }}
            <div class="flex-row">
                <div>
                    {{ .FirstName }} {{ .LastName }}
                </div>
                <button
                    hx-get="/invoice?batchId={{ $.Batch.Id }}&customerId={{ .Id }}"
                    hx-target="#invoice-display"
                    hx-swap="innerHTML"
                    hx-replace-url="false">
                    Click me
                </button>
            </div>
        {{ end }}
        <select name="customer" id="customer">
            <option value="" disabled="true">Add a new Customer</option>
            <option value="0" hx-get="/billing" hx-target="#customer-list">Mason Wells</option>
            <option value="1">Mason Wells</option>
            <option value="2">Mason Wells</option>
            <option value="3">Mason Wells</option>
            <option value="4">Mason Wells</option>
            <option value="5">Mason Wells</option>
            <option value="6">Mason Wells</option>
            <option value="7">Mason Wells</option>
            <option value="8">Mason Wells</option>
            <option value="9">Mason Wells</option>
            <option value="10">Mason Wells</option>
            <option value="11">Mason Wells</option>
            <option value="12">Mason Wells</option>
            <option value="13">Mason Wells</option>
            <option value="14">Mason Wells</option>
            <option value="15">Mason Wells</option>
            <option value="16">Mason Wells</option>
            <option value="17">Mason Wells</option>
            <option value="18">Mason Wells</option>
            <option value="19">Mason Wells</option>
            <option value="20">Mason Wells</option>
            <option value="21">Mason Wells</option>
            <option value="22">Mason Wells</option>
            <option value="23">Mason Wells</option>
            <option value="24">Mason Wells</option>
            <option value="25">Mason Wells</option>
            <option value="26">Mason Wells</option>
            <option value="27">Mason Wells</option>
            <option value="28">Mason Wells</option>
            <option value="29">Mason Wells</option>
            <option value="30">Mason Wells</option>
        </select>
    </div>
{{ end }}
