{{ define "customerPicker" }}
    <div class="flex-column" id="customer-picker">
        {{ range .IncludedCustomers }}
            <div class="flex-row">
                <div>
                    {{ .FirstName }} {{ .LastName }}
                </div>
                <button
                    hx-get="/invoice?batchId={{ $.Batch.Id }}&customerId={{ .Id }}"
                    hx-target="#invoice-display"
                    hx-swap="innerHTML"
                    hx-replace-url="false">
                    Click me
                </button>
            </div>
        {{ end }}

        <details class="dropdown">
            <summary>Add a new Customer</summary>
            <ul>
                {{ range .AvailableCustomers }}
                <li>
                    <a hx-put="/billing/{{ $.Batch.Id }}/invoice?customerId={{ .Id }}"
                       hx-target="#customer-picker"
                       hx-swap="outerHTML">
                        {{ .FirstName }} {{ .LastName }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </details>
    </div>
{{ end }}
