{{ define "content" }}
<tr>
    <td>
        <form
            id="update-form-{{ .Id }}"
            action={{ if .Id }} "/products/{{ .Id }}" {{ else }} "/products" {{ end }} method={{ if .Id }} "put" {{ else }} "post" {{ end }}>
            <input type="hidden" name="id" value="{{ .Id }}" />
        </form>
    </td>
    <td><input form="update-form-{{ .Id }}" type="text" name="name" placeholder="Name..." value="{{ .Name }}"></td>
    <td><input form="update-form-{{ .Id }}" type="text" name="description" placeholder="Description..." value="{{ .Description }}"></td>
    <td><input form="update-form-{{ .Id }}" type="number" step="0.01" name="unitPrice" placeholder="Unit Price..." value="{{ .UnitPrice }}"></td>
    <td>
        <div class="flex-row gap-sm">
            <input form="update-form-{{ .Id }}" type="submit" value={{ if .Id }} "Update" {{ else }} "Create" {{ end }}>
            <input class="secondary" type="button" value="Cancel" hx-get="/products" hx-target="#main-content">
        </div>
    </td>
</tr>
{{ end }}
