{{ define "content" }}
<div id="invoice-{{ .Invoice.Id }}">
    <p> I'm an invoice with id {{ .Invoice.Id }}</p>
    <p> My customer's name is {{ .Customer.FirstName }} </p>

    <div id="invoice-items-{{ .Invoice.Id }}">
        {{ range .Items }}
            {{ template "invoiceItem" $.GetInvoiceItemData . }}
        {{ end }}
    </div>

    <details class="dropdown">
        <summary>Add a new Item</summary>
        <ul>
            {{ range .Products }}
            <li>
                <a hx-post="/invoiceItem?invoiceId={{ $.Invoice.Id }}&productId={{ .Id }}"
                   hx-target="#invoice-items-{{ $.Invoice.Id }}"
                   hx-swap="afterend">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </details>
</div>

{{ end }}
