{{ define "content" }}
<div id="invoice-{{ .Invoice.Id }}">
    <h5>Invoice for {{ .Customer.FirstName }} {{ .Customer.LastName }}</h5>

    <table id="invoice-items-{{ .Invoice.Id }}">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {{ range .Items }}
            {{ template "invoiceItem" . }}
        {{ end }}
        <tr>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td id="invoice-{{ .Invoice.Id }}-total">${{ printf "%.2f" .GetInvoiceTotal }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <details class="dropdown">
        <summary>Add a new Item</summary>
        <ul>
            {{ range .GetUnusedProducts }}
            <li>
                <a hx-post="/invoiceItem/{{ $.Invoice.Id }}/{{ .Id }}"
                   hx-target="#invoice-items-{{ $.Invoice.Id }} tbody"
                   hx-swap="afterbegin">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </details>

    <div class="flex-row flex-end flex-center gap-sm">
        <a href="/invoice/preview/{{ .Invoice.Id }}"
           download="invoice.pdf"
           target="_blank">
          Preview
        </a>

        <button class="button-md"
            hx-delete="/invoice/{{ .Invoice.Id }}"
            hx-target="#invoice-display"
            hx-swap="innerHTML"
            hx-confirm="Are you sure you want to delete the invoice for {{ .Customer.FirstName }} {{ .Customer.LastName }}?"
            hx-replace-url="false">
            Delete
        </button>
    </div>

</div>

{{ end }}
