{{ define "content" }}
<div id="invoice-{{ .Invoice.Id }}">
    <h5> I'm an invoice with id {{ .Invoice.Id }}</h5>
    <h5> My customer's name is {{ .Customer.FirstName }} </h5>

    <table id="invoice-items-{{ .Invoice.Id }}">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {{ range .Items }}
            {{ template "invoiceItem" $.GetInvoiceItemData . }}
        {{ end }}
        </tbody>
    </table>

    <details class="dropdown">
        <summary>Add a new Item</summary>
        <ul>
            {{ range .GetUnusedProducts }}
            <li>
                <a hx-post="/invoiceItem?invoiceId={{ $.Invoice.Id }}&productId={{ .Id }}"
                   hx-target="#invoice-items-{{ $.Invoice.Id }} tbody"
                   hx-swap="afterend">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </details>
</div>

{{ end }}
