{{ template "base" . }}

{{ define "header" }}
<div id="main-header" hx-swap-oob="outerHTML" class="flex-row full-width space-between flex-center">
    <h4>Billing - (Batch {{ .Batch.Id }})</h4>

    <div class="flex-row gap-sm">
        <button type="button" class="secondary" hx-get="/billing/{{ .Batch.Id }}" hx-target="#main-content" hx-push-url="true">Back</button>
        <button type="button" hx-confirm="Yeah baby" hx-post="/TODO">Send</button>
    </div>
</div>
{{ end }}

{{ define "content" }}

<div class="widget">

    <hgroup>
        <h5>{{ .Batch.NotificationSubject }}</h5>
        <p>{{ .Batch.NotificationDescription }}</p>
    </hgroup>

</div>

{{ end }}
